body{
    background:linear-gradient(135deg,#0b0014,#16002b,#000);
    min-height:100vh;
    font-family:Arial;
}


h1{
    color:red;
    background:#8b0000;
    text-align:center;
    padding:15px;
    text-shadow:0 0 10px red;
}


#moedas,h3{
    color:#F4C430;
    text-shadow:0 0 8px #FFD700;
}


.Container{
    width:95%;
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}


.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8{

    width:230px;
    padding:20px;

    text-align:center;

    background:rgba(0,0,0,0.4);

    border:3px solid #8b5cf6;
    border-radius:15px;

    box-shadow:0 0 15px #8b5cf6;
}


.Container img{

    width:100%;
    max-width:180px;
    height:180px;
    object-fit:contain;

}


.Container p{

    color:white;

    background:#8b0000;

    border:2px solid #ff4500;

    border-radius:10px;

    padding:8px;

    margin:10px auto;

    width:120px;

}


.Container button{

    width:100%;
    max-width:180px;

    padding:10px;

    background:#8b0000;

    color:white;

    border:2px solid #ff4500;

    border-radius:10px;

    box-shadow:0 0 12px #ff4500;

}


.Container button:hover{

    transform:scale(1.08);

    color:#ffd700;

    box-shadow:0 0 20px #ff4500;

    cursor:pointer;

}


#loja,
#Espada{

    position:static;

    margin:10px;

}


#FinalBoss{

    display:block;

    width:250px;

    margin:50px auto;

    padding:20px;

    text-align:center;

    border:2px solid #00e5ff;
    border-radius:10px;

    background:rgba(0,0,0,0.35);

    box-shadow:0 0 15px #00e5ff;

    color:white;

    text-shadow:
    0 0 8px white,
    0 0 18px #00ffff,
    0 0 35px #8a2be2;

    text-decoration:none;

    transition:0.3s;
}


#finalBoss:hover{

    transform:scale(1.08);

    box-shadow:
    0 0 25px #00e5ff,
    0 0 40px #8a2be2;

}

/* Poder e Rank */
h2{
    color:#00e5ff;
    text-shadow:0 0 10px #00e5ff;
}

h2 span{
    color:#ff0000;
    text-shadow:0 0 10px red;
}


#rank{
    color:#ffd700;
    text-shadow:0 0 10px #ffd700;
}


#moedas{
    color:#F4C430;
    text-shadow:0 0 8px #FFD700;
}


/* Links dos botões */
#Espada,
#loja{

    width:120px;
    height:50px;

    background:#111827;

    color:white;

    border:2px solid #00e5ff;

    border-radius:12px;

    box-shadow:0 0 15px #00e5ff;

    cursor:pointer;

    font-size:18px;

    margin:10px;

    transition:0.3s;
}


#Espada:hover{

    transform:scale(1.1);

    background:#8b5cf6;

    border-color:#ffd700;

    box-shadow:
    0 0 20px #8b5cf6,
    0 0 30px #ffd700;

}


#loja:hover{

    transform:scale(1.1);

    background:#008000;

    border-color:#ffd700;

    box-shadow:
    0 0 20px #00ff00,
    0 0 30px #ffd700;

}


/* Voltar ao Game */

#Inicio{

    display:inline-block;

    margin:10px;

    padding:12px 20px;

    background:#8b0000;

    color:white;

    text-decoration:none;

    border:2px solid red;

    border-radius:12px;

    box-shadow:0 0 15px red;

    transition:0.3s;
}


#Inicio:hover{

    transform:scale(1.1);

    background:red;

    color:#ffd700;

    box-shadow:0 0 25px red;

}

/* Poder dos bosses */

.img1 button{
    color:#00ff00;
    text-shadow:0 0 10px #00ff00;
}

.img2 button{
    color:#00bfff;
    text-shadow:0 0 10px #00bfff;
}

.img3 button{
    color:#8b5cf6;
    text-shadow:0 0 10px #8b5cf6;
}

.img4 button{
    color:#ffd700;
    text-shadow:0 0 10px #ffd700;
}

.img5 button{
    color:#ff4500;
    text-shadow:0 0 10px #ff4500;
}

.img6 button{
    color:red;
    text-shadow:0 0 15px red;
}

.img7 button{
    color:#ff00ff;
    text-shadow:0 0 15px #ff00ff;
}

.img8 button{
    color:white;
    text-shadow:
    0 0 10px white,
    0 0 20px cyan;
}

/* Nomes dos bosses */

.img1 p{
    color:#00ff00;
    text-shadow:0 0 10px #00ff00;
}

.img2 p{
    color:#00bfff;
    text-shadow:0 0 10px #00bfff;
}

.img3 p{
    color:#8b5cf6;
    text-shadow:0 0 10px #8b5cf6;
}

.img4 p{
    color:#ffd700;
    text-shadow:0 0 10px #ffd700;
}

.img5 p{
    color:#ff4500;
    text-shadow:0 0 15px #ff4500;
}

.img6 p{
    color:red;
    text-shadow:0 0 15px red;
}

.img7 p{
    color:#ff00ff;
    text-shadow:0 0 15px #ff00ff;
}

.img8 p{
    color:white;
    text-shadow:
    0 0 10px white,
    0 0 20px cyan;
}

.btnMusica{
    position: fixed;
    top: 15px;
    right: 15px;

    width: auto;
    height: auto;

    padding: 8px 12px;

    background: rgba(0, 0, 0, 0.90);
    color: white;

    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;

    font-size: 14px;
    cursor: pointer;

    z-index: 9999;

    transition: 0.2s;
}

.btnMusica:hover{
    transform: scale(1.08);
    
}