body{

    background-image:url('olhos.jpg');

    background-repeat:no-repeat;

    background-size:cover;

    background-position:center;

    min-height:100vh;

    margin:0;

    text-align:center;

    font-family:Arial;

}


.p1{

    color:#ff0000;

    font-size:clamp(30px,5vw,60px);

    text-shadow:

    0 0 10px red,

    0 0 25px red,

    0 0 40px black;

}


.Container{

    width:95%;

    max-width:500px;

    margin:50px auto;


    display:flex;

    justify-content:center;

}


.img9{

    padding:30px;


    background:rgba(0,0,0,0.6);


    border:3px solid red;

    border-radius:20px;


    box-shadow:

    0 0 20px red,

    0 0 50px black;

}


.img9 img{

    width:min(80vw,350px);

    border-radius:15px;

    border:3px solid red;


    box-shadow:

    0 0 20px red;

}


.img9 p{

    color:#ff0000;

    font-size:35px;

    font-weight:bold;


    text-shadow:

    0 0 10px red,

    0 0 20px black;

}


button{

    width:200px;

    height:60px;


    background:#8b0000;


    color:white;


    border:3px solid red;

    border-radius:15px;


    font-size:25px;

    font-weight:bold;


    box-shadow:

    0 0 20px red;


    cursor:pointer;

    transition:.3s;

}


button:hover{

    transform:scale(1.1);


    background:red;


    color:black;


    box-shadow:

    0 0 40px red;

}


a{

    display:inline-block;

    margin-top:30px;


    color:white;


    font-size:25px;


    text-decoration:none;


    text-shadow:

    0 0 10px red;

}


a:hover{

    color:red;

    transform:scale(1.1);

}

.btnMusica{
    position: fixed;
    top: 15px;
    right: 15px;

    width: auto;
    height: auto;

    padding: 8px 12px;

    background: rgba(0, 0, 0, 0.90);
    color: white;

    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;

    font-size: 14px;
    cursor: pointer;

    z-index: 9999;

    transition: 0.2s;
}

.btnMusica:hover{
    transform: scale(1.08);
    
}