body{
    background:linear-gradient(180deg,#111827,#0b1020);
    margin:0;
    min-height:100vh;
}
html, body {
    touch-action: manipulation;
}

.Arena{

    width:95%;
    max-width:1000px;

    min-height:800px;

    margin:30px auto;

    background:#111827;

    border:4px solid #00e5ff;

    border-radius:20px;

    box-shadow:0 0 25px #00e5ff;

    display:flex;
    flex-direction:column;
    align-items:center;

    overflow:hidden;

    padding:20px;
    
    gap:10px;
    justify-content:center;

}

boss{
  gap: 5px;
}

.boss,
.player{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

}


#BossAtual{

    width:min(70vw,300px);

    border:3px solid #00e5ff;

    border-radius:12px;

    box-shadow:0 0 20px #00e5ff;

}


#Slime{

    width:min(70vw,300px);

    height:auto;

    border:3px solid #00e5ff;

    border-radius:12px;

    box-shadow:0 0 20px #00e5ff;

}


#Boss{

    color:#ff2b2b;
     margin: 5px;
     
    text-shadow:
    0 0 8px red,
    0 0 18px darkred;

}


#Bosspower{
     margin: 0;
     font-size: 24px;
     
    color:#ff5757;

    font-size:25px;

    text-shadow:0 0 12px red;

}


#Rimuru{
     margin: 5px;
    text-align:center;

}
.Barra{

    margin: 15px auto;

    width:90%;
    max-width:700px;

    height:30px;

    display:flex;

    margin:30px auto;

    border:3px solid white;

    border-radius:30px;

    box-shadow:0 0 18px white;

    overflow:hidden;

}


.verde{

    width:50%;

    background:#00d84a;

}


.vermelho{

    width:50%;

    background:#b30000;

}


#btnLutar{

    position:static;

    margin:20px auto;

}


button{

    width:min(80vw,220px);

    height:55px;


    background:linear-gradient(180deg,#ff3c3c,#a80000);


    color:white;


    border:2px solid white;

    border-radius:12px;


    font-size:22px;

    font-weight:bold;


    cursor:pointer;


    box-shadow:0 0 15px red;


    transition:.2s;

}


button:hover{

    transform:scale(1.08);

    box-shadow:0 0 30px red;

}


button:active{

    transform:scale(.95);
}

.player{
    gap:5px;
}

#poder{
     margin: 0;
     font-size:24px;
    color:#00e5ff;

    font-size:28px;

    text-shadow:
    0 0 10px #00e5ff,
    0 0 20px cyan;

}


#Rimuru{

    font-size:clamp(25px,5vw,45px);

    margin:10px;

}


h2{

    color:#ff2b2b;

    text-align:center;

    text-shadow:
    0 0 8px red,
    0 0 18px red,
    0 0 35px darkred;

}


p{

    color:#ff5757;

    font-size:clamp(20px,4vw,32px);

    text-align:center;

    text-shadow:0 0 12px red;

}
