body{

    background:linear-gradient(135deg,#050505,#111827,#000);

    min-height:100vh;

    margin:0;

    text-align:center;

    font-family:Arial;

}


h1{

    color:#ffd700;

    font-size:clamp(30px,5vw,55px);

    text-shadow:

    0 0 10px gold,

    0 0 30px orange;

}



.Container{

    width:95%;

    max-width:1200px;

    margin:auto;


    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

}



.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9{


    width:230px;

    padding:20px;


    background:rgba(0,0,0,.5);


    border-radius:20px;


    transition:.3s;

}



.Container img{

    width:180px;

    height:180px;

    object-fit:contain;

    transition:.5s;

}



.Container img:hover{

    transform:scale(1.15) rotate(5deg);

}




.Container p{

    color:white;

    font-size:20px;

    text-shadow:0 0 10px white;

}



button{

    width:160px;

    height:55px;


    border-radius:15px;


    color:white;

    background:#111;


    border:2px solid white;


    font-size:20px;


    cursor:pointer;


    transition:.3s;

}



/* COMUM */

.img1{

    border:3px solid #aaa;

    box-shadow:0 0 15px #aaa;

}


/* INCOMUM */

.img2{

    border:3px solid #00ff00;

    box-shadow:0 0 20px #00ff00;

}


/* RARA */

.img3{

    border:3px solid #00bfff;

    box-shadow:0 0 25px #00bfff;

}


/* EPICA */

.img4{

    border:3px solid #8b5cf6;

    box-shadow:0 0 30px #8b5cf6;

}



/* LENDARIA */

.img5{

    border:3px solid gold;

    box-shadow:0 0 35px gold;

    animation:brilhar 2s infinite;

}



/* MYTHICAL */

.img6{

    border:3px solid red;

    box-shadow:

    0 0 35px red,

    0 0 60px black;

    animation:brilhar 1.5s infinite;

}



/* SECRET */

.img7{

    border:3px solid #ff00ff;

    box-shadow:

    0 0 40px #ff00ff,

    0 0 70px cyan;

}



/* CELESTIAL */

.img8{

    border:3px solid white;

    box-shadow:

    0 0 50px white,

    0 0 80px purple;

}



/* DIVINO */

.img9{

    border:3px solid red;


    background:

    linear-gradient(

    135deg,

    #000,

    #300000

    );


    box-shadow:

    0 0 40px red,

    0 0 80px orange,

    0 0 120px black;


    animation:divino 2s infinite;

}




@keyframes brilhar{

    50%{

        transform:scale(1.03);

    }

}



@keyframes divino{

    50%{

        transform:scale(1.05);

        filter:brightness(1.5);

    }

}



.img9 button{

    background:red;

    box-shadow:0 0 20px red;

}


button:hover{

    transform:scale(1.1);

    background:white;

    color:black;

}