body{

    background:linear-gradient(135deg,#020617,#111827,#000);

    min-height:100vh;

    margin:0;

    text-align:center;

    font-family:Arial;

}


h1{

    color:#00ffcc;

    font-size:clamp(35px,5vw,60px);

    text-shadow:

    0 0 15px cyan,

    0 0 30px cyan;

}


#moedas{

    color:#ffd700;

    text-shadow:0 0 15px gold;

}



.Container{

    width:95%;

    max-width:1200px;

    margin:auto;


    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

}



.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9{


    width:230px;

    padding:20px;


    background:rgba(0,0,0,.6);


    border-radius:20px;


    transition:.3s;

}



.Container img{

    width:180px;

    height:180px;

    object-fit:cover;


    border-radius:20px;


    transition:.5s;

}



.Container img:hover{

    transform:scale(1.12);

}



button{

    width:180px;

    height:100px;


    border-radius:15px;


    background:#111;

    color:white;


    border:2px solid white;


    cursor:pointer;


    font-size:18px;


    transition:.3s;

}



button:hover{

    transform:scale(1.1);

}



/* CORES DOS PREÇOS */

.cor{

    color:#ffd700;

    text-shadow:0 0 10px gold;

}


.power{

    color:#00e5ff;

    text-shadow:0 0 10px cyan;

}



/* PET 1 */

.img1{

border:3px solid #00ff00;

box-shadow:0 0 20px #00ff00;

}


/* PET 2 */

.img2{

border:3px solid #00bfff;

box-shadow:0 0 25px #00bfff;

}


/* PET 3 */

.img3{

border:3px solid #8b5cf6;

box-shadow:0 0 30px #8b5cf6;

}


/* PET 4 */

.img4{

border:3px solid orange;

box-shadow:0 0 35px orange;

}


/* PET 5 */

.img5{

border:3px solid gold;

box-shadow:0 0 40px gold;

animation:aura 2s infinite;

}


/* PET 6 */

.img6{

border:3px solid red;

box-shadow:

0 0 40px red,

0 0 70px black;

}


/* PET 7 */

.img7{

border:3px solid #ff00ff;

box-shadow:

0 0 50px #ff00ff,

0 0 80px cyan;

}


/* PET 8 */

.img8{

border:3px solid white;

box-shadow:

0 0 50px white,

0 0 100px blue;

}


/* PET 9 */

.img9{

border:3px solid red;

background:

linear-gradient(135deg,#000,#300000);


box-shadow:

0 0 50px red,

0 0 100px darkred,

0 0 150px black;


animation:demonio 1.5s infinite;

}



@keyframes aura{

50%{

transform:scale(1.04);

}

}



@keyframes demonio{

50%{

transform:scale(1.06);

filter:brightness(1.5);

}

}