body{

    background-image:url('floresta.jpg');

    background-repeat:no-repeat;

    background-size:cover;

    background-position:center;

    min-height:100vh;

    margin:0;

    text-align:center;

    font-family:Arial;

}


.p1{

    color:white;

    font-size:clamp(30px,5vw,60px);

    text-shadow:

    0 0 10px red,

    0 0 20px black,

    0 0 40px red;

}


.Container{

    width:95%;

    max-width:500px;

    margin:40px auto;


    display:flex;

    justify-content:center;

}


.img10{

    padding:30px;


    background:rgba(0,0,0,0.65);


    border:3px solid #ff0000;

    border-radius:20px;


    box-shadow:

    0 0 25px red,

    0 0 50px black;

}


.img10 img{

    width:min(80vw,350px);

    height:auto;


    border-radius:15px;


    border:3px solid white;


    box-shadow:

    0 0 20px white,

    0 0 40px red;

}


#inf{

    color:#ff0000;

    font-size:35px;

    font-weight:bold;


    text-shadow:

    0 0 10px red,

    0 0 25px black;

}


.img10 p{

    color:white;

    font-size:40px;


    text-shadow:

    0 0 10px white,

    0 0 25px red;

}


button{

    width:220px;

    height:65px;


    background:

    linear-gradient(180deg,#ff0000,#330000);


    color:white;


    border:3px solid white;

    border-radius:15px;


    font-size:25px;

    font-weight:bold;


    cursor:pointer;


    box-shadow:

    0 0 20px red;


    transition:.3s;

}


button:hover{

    transform:scale(1.1);


    background:red;


    color:black;


    box-shadow:

    0 0 40px red,

    0 0 60px white;

}

.btnMusica{
    position: fixed;
    top: 15px;
    right: 15px;

    width: auto;
    height: auto;

    padding: 8px 12px;

    background: rgba(0, 0, 0, 0.90);
    color: white;

    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;

    font-size: 14px;
    cursor: pointer;

    z-index: 9999;

    transition: 0.2s;
}

.btnMusica:hover{
    transform: scale(1.08);
    
}